body { background:#f5f5f5; margin: 2%; overflow-y: hidden; overflow-x: hidden; background-image: url("/img/niziu_80.png"); background-repeat: no-repeat; background-size: cover; }

#container { overflow:hidden; }
#container .wrapper { position:relative; }
#player { float:left; width:78%; }
#livechat { float:left; width:22%; height:100%; }

/* pc */
@media all and (min-width:1280px) {

}

/* tablet & mobile */
@media all and (max-width:1280px) {
	#container .wrapper { margin-top:0; }
	#player { width:100%; height:55%; max-width:1920px; }
	#livechat { width:100%; height:45%; }
	#uchat { width:100%; height:45%; }
}
