@charset "utf-8";

html,body {height:100%;}
body {background:#f5f5f5; margin: 0%; overflow-y: hidden; overflow-x: hidden;}

/**********pc***********/
@media all and (min-width:801px){
	.floatBox {overflow:hidden;}
	.floatBox>div {float:left;}
	.floatBox-col2>div:first-child {width:78%;}
}

/***********mobile*********/
@media screen and (max-width:640px){
}
